body{
text-align:center;
}

.f1{
font-family:"Verdana";
font-size:14px;
color:#000000;
}

.f2{
font-family:"Verdana";
font-size:14px;
color:#000000;
}

.titu{
font-family:"Kristen ITC";
font-size:18px;
color:#000000;
font-weight:bold;
}